@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 40%;
    gap: 1em;
    transition: 0.75s all;
}

.card-info-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    gap: 1em;
    padding: 5% 5%;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
}

.card-img{
    background-position: center;
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container:hover{
    width: 700px;
    opacity: 1;
}

@media screen and (max-width: 1280px){
    .card-container{
        width: 60%;
    }
}