@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


.profile-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 450px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 15px;
    gap: 1em;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
}

.avatar{
    width: 50%;
    height: auto;
    border-bottom: 2px solid black;
}

.titlu{
    font-weight: bold;
    font-size: 20px;
}