.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    background-color: #0077B6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style: none;
    height: 100%;
    margin-top: 2em;
}
.link-btn{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    /* gap: 1em;
    margin-left: 1em; */
    margin-top: 1rem;
    padding: 0.3rem;
    width: 100%;
    align-items: center;
    position: relative;
    gap: 1em;
}
.link.active{
    background: var(--primary-color);
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    transition: background 0.5s linear;
    box-shadow: rgba(20, 114, 238, 0.918) 0px 2px 10px 0px;
}